{% extends "base.html" %}
{% block content %}
<p class="text-4xl font-bold capitalize">Task Manager</p>
<p class="text-2xl capitalize my-4">Signup</p>

<form action="" method="post" class="flex flex-col my-4">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="text-rose-600">
            {{field.errors}}
        </div>
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {{field}}
        {% if field.help_text %}
        <div class="text-slate-500 text-xs list-disc">
            {{ field.help_text|safe }}
        </div> 
        {% endif %}
        <br>
    {% endfor %}
    <input class="block drop-shadow-md p-4 bg-gradient-to-r from-rose-400 to-rose-600 rounded-xl text-center text-white active:drop-shadow-none active:brightness-110 transition text-lg font-bold cursor-pointer" type="submit" value="Signup">
</form>
{% endblock content %}
