{% extends "base.html" %}
{% block content %}
<header class="flex justify-between">
    <h1 class="text-4xl font-bold capitalize" style="text-shadow: 0 0 3px rgba(0,0,0,0.4);">Hi {{user}}</h1>
    <div class="flex flex-col items-end">
        <a class="text-red-500" href="/user/logout/">Logout</a>
        <a class="text-red-500" href="/user/report/{{report_id}}">Schedule Report</a>
    </div>
</header>

{% if total_count > 0 %}
<p class="text-slate-600 mt-4 mb-4">{{completed_count}} of {{total_count}} tasks completed</p>
{% endif %}

{% block tasks %}{% endblock tasks %}

<ul class="overflow-scroll">
{% for task in tasks %}
    <li class="drop-shadow-md bg-slate-100 p-4 rounded-xl flex max-w-sm my-4">
        <p class="grow text-sm">
            {% if task.completed %}
            <s class="text-rose-500">{{task.title}}</s>
            {% else %}
            {{task.title}}
            {% endif %}
            <sup class="text-red-500 bg-rose-200 px-1 rounded-full text-xs">{{task.priority}}</sup>
            <br>
            <span class="text-slate-500 text-xs">{{task.created_date|date:"D j M"}}</span>
        </p>
        <a class="drop-shadow-md border-teal-400 border-2 bg-teal-400 p-2 ml-2 rounded text-white h-min hover:bg-clip-text hover:text-teal-400 transition" href="/update-task/{{task.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
        </a>
        <a class="drop-shadow-md border-rose-500 border-2 bg-rose-500 p-2 ml-2 rounded text-white h-min hover:bg-clip-text hover:text-rose-500 transition" href="/delete-task/{{task.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </a>
    </li>
{% endfor %}
</ul>

<a class="block drop-shadow-xl p-4 bg-gradient-to-r from-rose-400 to-rose-600 rounded-xl text-center text-white active:drop-shadow-none active:brightness-110 transition text-xl font-bold" href="/add-task">Add</a>

{% endblock content %}
